@inject IPersonService PersonService

@*Person Registration Form*@
<EditForm FormName="Registration" Model="@Person" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group row my-2">
        <label for="PersonId" class="col-sm-1 col-form-label">ID</label>
        <div class="col-sm-2">
            <InputText id="PersonId" @bind-Value="Person.PersonId" class="form-control" placeholder="PID001" />
            <ValidationMessage For="@(() => Person.PersonId)" />
        </div>
    </div>

    <div class="form-group row my-2">
        <label for="FirstName" class="col-sm-1 col-form-label">Firstname</label>
        <div class="col-sm-2">
            <InputText id="FirstName" @bind-Value="Person.FirstName" class="form-control" placeholder="Jane" />
            <ValidationMessage For="@(() => Person.FirstName)" />
        </div>
    </div>

    <div class="form-group row my-2">
        <label for="LastName" class="col-sm-1 col-form-label">Lastname</label>
        <div class="col-sm-2">
            <InputText id="LastName" @bind-Value="Person.LastName" class="form-control" placeholder="Doe" />
            <ValidationMessage For="@(() => Person.LastName)" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary col-sm-1 my-3">Submit</button>
</EditForm>

@* Display Records Table *@
<div class="mt-3">
    @if (people != null)
    {
        <table class="table table-bordered table-sm">
            <caption>Database Records</caption>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in people)
                {
                    <tr>
                        <td>@person.PersonId</td>
                        <td>@person.FirstName</td>
                        <td>@person.LastName</td>
                        <td>
                            <span role="button" class="text-info" @onclick="() => EditPerson(person.PersonId)">Edit</span>
                            <span> | </span>
                            <span role="button" class="text-danger" @onclick="() => DeletePerson(person.PersonId)">Delete</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>